Flask_WTF==1.2.1
numpy==1.24.4
pandas==1.5.3
six==1.16.0
tensorflow==2.10.1
WTForms_Components==0.10.5
stripe==2.27.0
deepface==0.0.80
Werkzeug==2.2.3
WTForms==3.0.1
Flask_MySQLdb==1.0.1
Flask==2.2.5
Flask_Mail==0.9.1
matplotlib==3.7.1
Flask_Cors==3.0.10
wget==3.2
python_docx==0.8.11
nltk==3.8.1
coolname==2.2.0
object_detection==0.0.3
Pillow==10.0.1
opencv_contrib_python==4.7.0.72
